
@{
    ViewData["Title"] = "编辑个人信息";
}

<div class="row">
    <div class="col-md-4">
        <div class="card text-center">
            <img class="card-img-top" src="~/images/iceland.jpg" alt="Card image cap">

            <div class="card-body">
                <img src="~/images/author.jpg" class="rounded-circle bd-auchor" />
                <h6>BenDan</h6>
                <p class="card-text">有些东西，注定和你无缘。以前是，现在是，将来也是。</p>
            </div>
        </div>

        <br />

        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home"><i class="fa fa-pencil" aria-hidden="true"></i> 编辑资料</a>
        </div>

        <br>
        <div class="card">
            <div class="card-body">
                <i class="fa fa-github" aria-hidden="true"></i> 未设置 GitHub 信息.
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="tab-content" id="nav-tabContent">
            <h4>哈哈哈哈哈哈哈哈哈哈哈</h4>
        </div>
    </div>
</div>

