
@{
    ViewData["Title"] = "用户中心";
}

<div class="row">
    <div class="col-md-4">
        <div class="card text-center">
            <img class="card-img-top" src="~/images/iceland.jpg" alt="Card image cap">

            <div class="card-body">
                <img src="~/images/author.jpg" class="rounded-circle bd-auchor" />
                <h6>BenDan</h6>
                <p class="card-text">有些东西，注定和你无缘。以前是，现在是，将来也是。</p>
            </div>
        </div>

        <br />

        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home"><i class="fa fa-pencil" aria-hidden="true"></i> 热门话题</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile"><i class="fa fa-comments-o" aria-hidden="true"></i> 最近回帖</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages"><i class="fa fa-user-secret" aria-hidden="true"></i> 个人简介</a>
        </div>

        <br>
        <div class="card">
            <div class="card-body">
                未设置 GitHub 信息.
            </div>
        </div>
    </div>

    <div class="col-md-8">

         <div class="tab-content" id="nav-tabContent">
             <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                 <h5><i class="fa fa-pencil" aria-hidden="true"></i> 热门话题</h5>
                 <hr />
                 <ul class="list-group">
                     <li class="list-group-item">Cras justo odio</li>
                     <li class="list-group-item">Dapibus ac facilisis in</li>
                     <li class="list-group-item">Morbi leo risus</li>
                     <li class="list-group-item">Porta ac consectetur ac</li>
                     <li class="list-group-item">Vestibulum at eros</li>
                     <li class="list-group-item">Cras justo odio</li>
                     <li class="list-group-item">Dapibus ac facilisis in</li>
                     <li class="list-group-item">Morbi leo risus</li>
                     <li class="list-group-item">Porta ac consectetur ac</li>
                     <li class="list-group-item">Vestibulum at eros</li>
               
                 </ul>
                 <br>
             </div>
             <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                 <h5><i class="fa fa-comments-o" aria-hidden="true"></i> 最近回帖</h5>
                 <hr />
                 <ul class="list-group">
                     <li class="list-group-item">Cras justo odio</li>
                     <li class="list-group-item">Dapibus ac facilisis in</li>
                     <li class="list-group-item">Morbi leo risus</li>
                     <li class="list-group-item">Porta ac consectetur ac</li>
                     <li class="list-group-item">Vestibulum at eros</li>
                     <li class="list-group-item">Cras justo odio</li>
                     <li class="list-group-item">Dapibus ac facilisis in</li>
                     <li class="list-group-item">Morbi leo risus</li>
                     <li class="list-group-item">Porta ac consectetur ac</li>
                     <li class="list-group-item">Vestibulum at eros</li>
                   
                 </ul>
                 <br>
             </div>
             <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                 <h5><i class="fa fa-user-secret" aria-hidden="true"></i> 个人简介</h5>
                 <hr />
                 <p>
                     我貌赛潘安，义超关羽，智胜孔明，上知天文，下晓地理，出口成章，提笔成文，懂阴阳，测八卦，知奇门，晓遁甲的，大豪杰，大英雄，大剑客，大宗师，人称山崩地裂水倒流，赶浪无丝鬼见愁，前无古人，后无来者的，天下第一——“帅”。
                     <br>呀~~是这段吧!
                 </p>
                 <br>
             </div>
         </div>

       
      
      


    </div>
</div>

